.modal
  .modal-dialog
    .modal-content
      .close-bt
        svg.close-icon(xmlns='http://www.w3.org/2000/svg', width='17', height='15.75', viewbox='0 0 17 15.75')
            path#X.cls-1(fill='#ffffff', d='M17.003 15.75l-6.848-8.082L16.84.008h-3.26l-3 3.69A31.97 31.97 0 0 0 8.59 6.36h-.1C7.9 5.52 7.282 4.725 6.466 3.698l-2.9-3.69H.273L6.73 7.784.012 15.75h3.26l2.643-3.457a38.434 38.434 0 0 0 2.38-3.13h.066c.686.91 1.4 1.775 2.545 3.106l2.8 3.48H17z')
      .modal-inner-content
        .modal-title Vote na enquete

        form.vote-form(action='?', method='POST')
          .g-recaptcha(data-sitekey='6LelP0UUAAAAABiocF-lGcMnE_xD7DXKnaqo7Kla' data-callback="onSuccessfullSubmit")
          br
          input.main-button.main-submit-button(type="submit", value="Votar" disabled="disabled")
