.veja-mais-section-container
  .veja-mais-section
    h3 VEJA MAIS
    .veja-mais-box
      .veja-mais-item
        a(href="https://oglobo.globo.com/esportes/2019/04/22/2276-os-50-maiores-jogadores-do-brasileirao-de-pontos-corridos-parte-1-do-50-ao-41", target="_BLANK")
          img(src=require("./../../images/veja-mais-50brasileirao.jpg"), alt="Copa, Cabelo e Bigode")
          span Os 50 maiores jogadores do Brasileirão de pontos corridos

      .veja-mais-item
        a(href="https://oglobo.globo.com/esportes/saiba-quem-votou-na-eleicao-do-globo-dos-melhores-do-brasileirao-de-pontos-corridos-23614782", target="_BLANK")
          img(src=require("./../../images/veja-mais-juizes.jpg"), alt="Planeta Copa")
          span Saiba quem votou na eleição dos melhores do Brasileirão de pontos corridos

      .veja-mais-item
        a(href="https://oglobo.globo.com/esportes/o-poder-do-tecnico-fazer-equipe-acreditar-em-uma-historia-diz-ceni-maior-jogador-dos-pontos-corridos-23623608", target="_BLANK")
          img(src=require("./../../images/veja-mais-rogerio-ceni.jpg"), alt="A rede de Neymar")
          span Rogério Ceni escolhe o 'seu' maior dos pontos corridos
