/* Default */
$white: #fff;
$black: #000;
$light-grey: #dfdfdf;
$grey: #eee;
$medium-grey: #555;
$dark-grey: #333;

$red-error: #d16161;

/* O Globo */
$main-color: #1e4c9a;
$main-color-light: #4270c1;
$main-color-dark: #3a99d8;
$secondary-color: #fff100;

/* Text */
$text-color-link: #1063e0;
$text-color: #555;
$text-color-light: #999;
$text-color-medium: #727272;
$text-color-strong: #333;
$text-color-credits: #777;

/* Social */
$social-facebook: #3b5998;
$social-pinterest: #bd081c;
$social-twitter: #55acee;
$social-email: #db4437;
$social-whatsapp: #128c7e;
$social-default: #d3d3d3;

/* Buttons */
$button-default: $main-color;
$button-success: #386cc2;
$button-error: #de3838;
$button-warning: #f3ac00;
$button-disabled: #b4bdcd;

/* Dividers */
$divider-light-grey: #e9e9e9;
$divider-color: #e1e5e5;
